parameters:
    memory-limit: -1
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    ignoreErrors:
        - '~should return iterable<string, .*?> but returns iterable<string, mixed>.$~'
        - '~expects iterable<string, .*?>, iterable<string, mixed> given.$~'
        -
            message: '~^Parameter #1 \$haystack of static method Consistence\\Type\\ArrayType\\ArrayType::mapByCallback\(\) expects array, iterable<string, string> given.$~'
            path: %currentWorkingDirectory%/src/Helper/TypeMapper.php

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
