parameters:
    memory-limit: -1
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    ignoreErrors:
        - '~should return iterable<string, .*?> but returns iterable<string, mixed>.$~'
        - '~expects iterable<string, .*?>, iterable<string, mixed> given.$~'
        - '~SNMP_OID_OUTPUT_NUMERIC not found~' # phpstan runs without ext-snmp, so it doesn't know this constatnt

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
